# Simulation results
ResultadosISGT/**/state_*
ResultadosISGT/**/state_FACTS*
ResultadosISGT/**/resultados_conv*

/*.csv


# Python cache
__pycache__/
*.py[cod]

# Temporary office files
.~lock.*

# Temporary files
tmp/*
!tmp/.gitkeep

# Documents and compressed files
*.pdf
*.zip
*.txt

# Keep dependency file
!requirements.txt

.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db